/*Variables*/
:root {
  --colorPrincipal: #E50914;
  --negro: #000000;
  --blanco: #ffffff;
  --gris: #e1e1e1e1;
}

/*Globales*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: sans-serif;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.background {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../img/tms.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background__blur {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, black 30%, transparent);
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.container {
  max-width: 190rem;
  width: 90%;
  margin: 0 auto;
}

/*Header*/
.header {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
}
.header__img img {
  width: 13rem;
}
.header__search {
  position: relative;
}
.header__search input {
  color: var(--blanco);
  background: transparent;
  border: 0.1rem solid var(--gris);
  border-radius: 0.4rem;
  padding: 0.5rem 0rem 0.5rem 3.4rem;
  backdrop-filter: blur(2rem);
  outline: none;
}
.header__search input::placeholder {
  color: var(--blanco);
}
.header__search span {
  font-size: 2rem;
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  color: var(--gris);
}

@media (min-width: 900px) {
  .header {
    flex-direction: row;
  }
}
.navigation {
  display: flex;
  gap: 2rem;
}
.navigation__link {
  font-weight: 600;
  text-decoration: none;
  color: var(--blanco);
}
.navigation__link:hover {
  color: var(--colorPrincipal);
}

/*Main*/
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.main__head img {
  width: 25rem;
}

.head__info {
  display: flex;
  gap: 1rem;
}
.head__info p {
  color: var(--gris);
  border-right: 0.1rem solid var(--gris);
  padding-right: 1rem;
}
.head__info p:last-child {
  border: 0;
}
.head__info p:nth-child(2) span {
  border-radius: 0.3rem;
  padding: 0.3rem;
  background-color: var(--colorPrincipal);
}

.main__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.main__info p {
  font-weight: 500;
  line-height: 2.3rem;
  text-align: center;
  max-width: 50rem;
  color: var(--blanco);
}
.main__info .buttons {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}
.main__info .buttons__button {
  color: var(--blanco);
  padding: 0.5rem 3rem;
  background-color: var(--colorPrincipal);
  border-radius: 0.2rem;
}
.main__info .buttons__button:last-child {
  background: black;
  border: 0.1rem solid var(--gris);
}
.main__info .buttons__button:last-child:hover {
  background-color: var(--colorPrincipal);
  border: 0.1rem solid transparent;
}

@media (min-width: 900px) {
  .main {
    align-items: flex-start;
  }
  .main__info {
    align-items: flex-start;
  }
  .main__info p {
    text-align: left;
  }
}
/*Footer*/
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  margin-top: 5rem;
}
.footer img {
  width: 7rem;
}
.footer p {
  color: var(--blanco);
  font-weight: 900;
}

@media (min-width: 900px) {
  .footer {
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
  }
}
.trailer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  z-index: 1000;
  backdrop-filter: blur(2rem);
  opacity: 0;
  visibility: hidden;
}
.trailer__video {
  width: 80%;
}
.trailer__close {
  position: absolute;
  filter: invert(1);
  top: 4%;
  right: 3%;
  width: 2rem;
}
.trailer.active {
  opacity: 1;
  visibility: visible;
}

/*# sourceMappingURL=styles.css.map */
